/* Notes
---
#6699FF

/* Headings */

h1 {
  font-family: sans-serif;
  font-size: 60px;
  font-weight: 800;
  text-align: center;
}

h4 {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 600;
}

h2 {
  font-family: cursive;
  font-size: 30px;
  font-weight: 800;  
}

/* Grouping */

ol {
  

/* Flexible images */

img {
  max-width: 100%;
  height: auto;
}
