h1 {
  font-family: sans-serif;
}

h2 {
    font-family: cursive, fantasy;
}

h3 {
    font-family: fantasy;
}

h3 {
    font-family: monospace;
}

h4 {
    font-family: sans-serif;
}

/* Flexible images */

img {
  max-width: 100%;
  height: auto;
}
