/* Headings */

h1 {
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 800;
  text-align: center;
}

h4 {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 600;
}

h2 {
  font-family: cursive;
  font-size: 28px;
  font-weight: bold;  
}

h2 {
  font-family: cursive;
  font-size: 24px;
  font-weight: bold;
}

h2 {
  font-family: cursive;
  font-size: 24px;
  font-weight: bold;  
}

h2 {
  font-family: cursive;
  font-size: 26px;
  font-weight: bold;  
}

/* Flexible images */

img {
  max-width: 100%;
  height: auto;
}
